<head>
    <meta charset="utf-8">
    <!--- Instructions for web scrapers --->
    <meta name="robots" content="index, follow">

    <meta name="description" content="My perosnal website, where I share thoughts about conferences I attend, papers and books I read, and physics, philisophy, cinema, and open-source">
    <meta name="keywords" content="condensed-matter, physics, philosophy, personal, academic, cinema">
    <meta name="author" content="Vasil Radkov Yordanov">
    <title>{{ .Site.Title }}</title>
</head>
